# Шаблон секретов Nextcloud. Реальный .env лежит на сервере в /srv/nextcloud/.env и НЕ коммитится.
# Пароли генерируются скриптом setup.sh (openssl rand). Заполнять вручную не нужно.

POSTGRES_PASSWORD=<generated>
REDIS_PASSWORD=<generated>
NC_ADMIN_USER=admin
NC_ADMIN_PASSWORD=<generated>
